*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
}
.clock {
  position: relative;
  width: 30rem;
  height: 30rem;
  padding: 2rem;
  border: 20px solid #fff;
  border-radius: 50%;
  box-shadow: 
    0 0 0 4px #0000001a,
    inset 0 0 0 3px #efefef,
    inset 0 0 10px #000,
    0 0 10px #00000033;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.clock-circle {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
.hand {
  width: 50%;
  height: 6px;
  background-color: #000;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transition: all 0.05s;
  -moz-transition: all 0.05s;
  -ms-transition: all 0.05s;
  -o-transition: all 0.05s;
}